<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nodesaken<%= (typeof title != 'undefined')?' - '+title:'' %> </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/css/tether.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/font-awesome.css"/>
    <link rel="stylesheet" href="/css/print-style.css" type="text/css" media="print" />

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/tether.min.js"></script>
    <script type="text/javascript" src="/js/popper.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/global.js"></script>
</head>
<body>

<div class="container-fluid">
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="#">Nodesaken</a>
        <div class="navbar mr-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <% if(typeof locals.sessionUser !== 'undefined'){ %>
            <a class="nav-item nav-link" href="/characters/">Characters</a>
            <a class="nav-item nav-link" href="/games/">Games</a>
            <% } %>
        </div>

        <ul class="nav loginContainer ifLoggedIn<% if(typeof locals.sessionUser !== 'undefined'){ %> loggedIn<%}%>">
            <li class="nav-item">
                <% if(typeof locals.sessionUser !== 'undefined'){ %>
                    Logged in as <%= locals.sessionUser.displayName %>
                <%}%>
            </li>
            <li class="nav-item">
                <a href="/users/account">Manage account</a>
            </li>
            <li class="nav-item">
                <a href="/users/logout">Logout</a>
            </li>
        </ul>

        <span class="loginContainer ifLoggedOut<% if(typeof locals.sessionUser !== 'undefined'){ %> loggedIn<%}%>">
            <a href="#login" id="login_modal_link">Login</a>
            <a href="/users/register">Register</a>
        </span>
    </nav>
    <!-- End Header -->
