<%- include('./includes/header') -%>
    <h1>Nodesaken</h1>
    <div class="container-fluid">
        <h2>Welcome</h2>
        <p>This is the project home for the Node.js powered Forsaken&trade; Character Sheet tracking system. I've built several iterations of this, each building upon the experiences of the previous and becoming better both as I mature and as JavaScript matures.</p>
        <p>The last attempt at this stalled owing to health concerns, but I was prompted to resume owing to the advances of Node.js and wanting a piece of sufficiently involved domain specific software that I can show off on a resume.</p>
        <p>The project is open source, under the ISC licence, and the git repository is located <a href="https://github.com/CuAnnan/nodesaken" target="_blank">here</a>.</p>
        <p>If you want to start using it here, you will need to register an account first. I intend on eventually handling anonymously created characters, but binding to account is easier and frees me to program the more interesting stuff sooner rather than later.</p>
        <p>Changes to the character are made by pressing the level you want to acquire. If you have CP left, they are used. Otherwise, XP is spent. The system currently provides no means to add XP, it merely stores how much XP is spent. Changes are saved as they are made.</p>
    </div>
    <div class="container-fluid">
        <h2>Current Project Status</h2>
        <p>The Forsaken Template has seen tremendous work since I last edited the landing page. The code for modelling Shadow Gifts is finished. I've opted to show Gift Cards for all the Gifts rather than trying to list the extra Gifts in an extra page. It's a cleaner approach and it allows for a unified approach.</p>
        <p>Rites, Moon Gifts, Wolf Gifts need to be done. Moon Gifts will be the messiest, owing to the fact that the Cahalith (and only the Cahalith so far) get two and so the rules for extra Moon Gifts have to be applied, and you need to be able to choose your primary shadow gift and optionally buy more. Wolf Shadow Gifts are straight forward and will largely reuse the Shadow Gifts code.</p>
        <p>I have decided to architect a separate solution for packs, involving establishing a pack as an entity in its own right, whereupon the person who made the pack entity can invite other characters to the pack using their reference (think database ID for those familiar with RDBMS). None of this is programmed, mind you, but it's the approach I plan on taking. Once a pack entity has members, the rules for creating totem from the core can be applied. The totem can then be applied to the character sheets using Mongoose's inflation lookups.</p>
    </div>
    <div class="containerfluid">
        <h3>Outstanding tasks</h3>
        <div class="row">
            <div class="col">
                <h4>Needs doing from scratch</h4>
                <ul>
                    <li>
                        Gifts
                        <ul>
                            <li>Moon</li>
                            <li>Wolf Facets</li>
                        </ul>
                    </li>
                    <li>
                        Rites
                        <ul>
                            <li>Pack</li>
                            <li>Wolf</li>
                        </ul>
                    </li>
                    <li>
                        Personal Details. These are simple editable fields that have no mechanical bearing on the character's mathy objects, but need to be stored.
                        <ul>
                            <li>Name</li>
                            <li>Bone & Blood</li>
                            <li>Tribe and Auspice</li>
                            <li>Lodge</li>
                            <li>Kuruth Triggers</li>
                            <li>Aspirations</li>
                            <li>Conditions</li>
                            <li>Touch stones</li>
                        </ul>
                    </li>
                    <li>UI for extra Gifts, Rites & Merits</li>
                    <li>Back end data Structure
                        <ul>
                            <li>Packs</li>
                            <li>Totems</li>
                            <li>Games</li>
                        </ul>
                    </li>
                    <li>2FA</li>
                    <li>Character publication</li>
                    <li>QR Codes</li>
                </ul>
            </div>
            <div class="col">
                <h4>Needs finishing</h4>
                <ul>
                    <li>
                        Fighting Styles
                        <ul>
                            <li>Maneuvers as merits</li>
                            <li>UI to show all known maneuvers by tag</li>
                        </ul>
                    </li>
                    <li>
                        Merit Prerequisite Tester
                        <ul>
                            <li>Subclass for Forsaken&trade;</li>
                            <li>Testing against Fighting Styles for maneuvers as merits</li>
                            <li>Harmony Testing</li>
                        </ul>
                    </li>
                    <li>Encode supernatural merits from Hurt Locker and Dark Eras</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h3>Disclaimers</h3>
        <p>Portions of the materials are the copyrights and trademarks of White Wolf Entertainment AB, and are used with permission. All rights reserved. For more information please visit <a href="http://www.white-wolf.com" target="_blank">white-wolf.com</a>.</p>
        <p>This site and its affiliated bots and widgets are not affiliated with White Wolf and is released in accordance with the <a href="http://www.white-wolf.com/community/">Dark Pack community licence</a>, which White Wolf are kind enough to provide and explain.</p>
    </div>
<%- include('./includes/footer') -%>