<%- include('./includes/header') -%>
    <h1>Nodesaken</h1>
    <h2>Welcome</h2>
    <p>This is the project home for the Node.js powered Forsaken Character Sheet tracking system. I've built several iterations of this, each building upon the experiences of the previous and becoming better both as I mature and as JavaScript matures.</p>
    <p>The last attempt at this stalled owing to health concerns, but I was prompted to resume owing to the advances of Node.js and wanting a piece of sufficiently involved domain specific software that I can show off on a resume.</p>
    <p>The project is open source, under the ISC licence, and the git repository is located <a href="https://github.com/CuAnnan/nodesaken" target="_blank">here</a>.</p>
    <h2>Technical overview</h2>
    <h3>Web application</h3>
    <p>The Web Application uses an MVC approach built around Express. Routers pass the request, response and next paramaters of the Router class to a Controller, which is responsible for any business logic and renders the necessary view.</p>
    <p>The <strong>character model</strong> directory contains the application logic surrounding the Forsaken logic itself, how to build a character. This folder is shared to the front end using the browserify-middleware module, which allows the same logic to be used in the front and back end.</p>

<%- include('./includes/footer') -%>