/* Login stuff */
.ifLoggedIn, .ifLoggedOut.loggedIn
{
    display:none;
}

.ifLoggedIn.loggedIn, .ifLoggedOut
{
    display:inline;
}

ul.loginContainer
{
    list-style:none;
}

ul.loginContainer li
{
    display:inline;
}

.input-group-prepend
{
    width:2.4em;
}

.attributeUseGroup h3
{
    width: 100%;
    text-align: center;
}

@font-face
{
    font-family: "treefrog";
    src: url("/webfonts/treefrog.ttf");
}

@font-face
{
    font-family: "arnova";
    src: url("/webfonts/ArnovaITC.otf");
}

@font-face
{
    font-family: "flatEarthScribe";
    src: url("/webfonts/Flat Earth Scribe.ttf");
}

.categoryName, #characterDetails .col-1, h5
{
    font-family: treefrog;
}

h5
{
    font-size: 1.1em;
    margin: 0px;
}

.skillUseGroup
{
    text-align: center;
    font-size: 1.2em;
}

.sectionHeading
{
    background-color: white;
    font-family: flatEarthScribe;
    font-size:1.8em;
    padding-left:5px;
    padding-right: 5px;
}

.attributeUseGroup
{
    width: 100%;
    text-align: center;
}

.attributeUseGroup, .attributeName, .skillName
{
    font-family: arnova;
}

.skillName
{

}

.xpPurchasableValue
{
    font-size: 0.83em;
}

.xpPurchasable span
{
    cursor: pointer;
}

.page
{
    font-size: 1.2em;
}

.attributeCol, .categoryName, .skillsCol
{
    border-right: 1px solid black;
}

.attributeCol:last-child
{
    border: none;
}

.strike
{
    border-bottom: 1px solid black;
    height: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.page .container-fluid
{
    padding:0px;
}

.unskilledPenalty
{
    font-size: 0.8em;
    font-style: italic;
}

#login_modal_content
{
    padding: 5px;
}


.dropdown-menu
{
    right:0px !important;
    left: unset !important;
}
