<html>
    <head>
        <title>Lost Password</title>
    </head>
    <body>
        <p><i>Uratha</i>,</p>
        <p>It appears your password has been eaten by a Spirit. We had some Iron Masters dig up a link which may help you get it back.</p>
        <p><a href="<%- link%>">This link</a> will let you reset your password, but it must be used within seven days</p>
    </body>
</html>
