<%- include('../includes/header') -%>
<h2>Password reset facility</h2>
<div class="container">
    <form method="post" action="#">
        <div class="form-group row">
            <input type="hidden" id="resetKey" name="resetKey" value="<%= user.resetKey%>"/>
            <label for="newPassword" class="col-sm-2 col-form-label">New Password:</label>
            <div class="col">
                <input type="password" name="newPassword" id="newPassword"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="newPasswordConf" class="col-sm-2 col-form-label">New Password:</label>
            <div class="col">
                <input type="password" name="newPasswordConf" id="newPasswordConf"/>
            </div>
        </div>
        <div class="row">
            <button id="passwordFromResetButton" class="btn btn-primary">Update password</button>
        </div>
    </form>
    <div id="feedback"></div>
</div>
<script type="text/javascript" src="/js/resetPassword.js"></script>
<%- include('../includes/footer') -%>