<%- include('../includes/header') -%>
<div class="content">
    <h1>Account registered</h1>
    <p>Your acount has been registered and you are now ready to log in and start using Nodesaken.</p>
</div>
<%- include('../includes/footer') -%>