<h2>Privacy Policy</h2>
<p>This privacy policy sets out how Nodesaken uses and protects any information that you give us when you use this website.</p>
<p>We are committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.</p>
<p>We may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 15 May 2018.</p>
<h3>What we collect</h3>
<p>We may collect the following information</p>
<ul>
    <li>A display name, which will be shown to all other people</li>
    <li>Your date of birth</li>
    <li>Your email address</li>
    <li>Your discord username</li>
</ul>
<h3>What we do with the information we gather</h3>
<p>We require this information to understand your needs and in particular for the following reasons:</p>
<ul>
    <li>Allowing you to log in and out of the software</li>
    <li>Allowing you add and delete characters</li>
    <li>Use those characters with the attached discord bot</li>
    <li>We may use the information to improve our software</li>
</ul>
<p>Your discord username is used to allow the discord bot attached to this system to access your characters. When you try to do so, the discord bot will say "is this user the same as the user in our database, if so, sure they can have the character, otherwise they can get eaten by an Idigam"</p>
<p>We will not</p>
<ul>
    <li>Share the information with third parties</li>
    <li>Contact you for marketeering purposes unless specifically welcomed to</li>
</ul>
<p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>
<h3>How we use cookies</h3>
<p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Cookies allow web applications to respond to you as an individual.</p>
<p>We use cookies to ensure that only you and our admin team can edit your profile and to identify you to the software.</p>
<p>A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.</p>
<p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. You will not be able to log in and use the software without cookies.</p>
<p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so.</p>
<p>You may request details of personal information which we hold about you under the Data Protection (Ammendment) Act 203. A small fee may be payable. If you would like a copy of the information held on you please write to <a href="mailto:data.protection@so-4pt.net">data.protection@so-4pt.net</a></p>
<p>If you believe that any information we are holding on you is incorrect or incomplete, please email us as soon as possible at the above address. We will promptly correct any information found to be incorrect.</p>
