<h3>Terms and Conditions</h3>
<p>The terms  "us", or "we" refers to the owner of the website. The term "you" refers to the user or viewer of the website.</p>
<p>The term "software", or "the software" refers to the front-end HTML, JavaScript and CSS as well as the back end architecture that allows everything to work in a technical capacity. The term "software" does <b>not</b>, in this instance, include third party libraries which are licenced to us.</p>
<p>As always, terms and conditions must apply when using this (or any other) web platform. In the interest of creating a pleasant eco system for this platform, we are trying to keep its terms and services as simple and straight forward as possible. However, you must agree to adhere to them in order to use the website.</p>
<ul>
    <li>You must be aged 18 or over to use this site.</li>
    <li>The software uses cookies to maintain login states. You cannot use the site if you have cookies blocked.</li>
    <li>The software uses javascript to work. You cannot use the site if you have javascript disabled.</li>
    <li>The software is owned by us. Offsite reproduction is strictly prohibited.</li>
    <li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
    <li>Your profile may not contain offsite links or material that will reasonably cause offense to others</li>
    <li>We have a zero tolerance policy towards racism, homophobia, transphobia, religious bigotry, xenophobia, misogyny or any form of bigotry not listed here that offends us</li>
    <li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of Ireland and the E.U.</li>
    <li>These terms and conditions are subject to change and it is your obligation to ensure that you are familiar with them.</li>
    <li>While we provide delete buttons for the things you add to the site, we need to retain ownership of the data as we are legally responsible for it. We don't put in any clever workarounds for the delete button. If you delete a thing, the master copy is deleted. But if other people have copies of it, they may retain them. Do NOT make things public unless you are okay with this.</li>
</ul>

<p>We take all necessary precautions to secure account information. Your profile is stored in a best-practice protected database, we do not store your password in a retrievable format, as such if you need to reset your password email will be the only way to do this.</p>
