<div class="page tab-pane" id="page5" role="tabpanel" aria-labelledby="page5-tab">
    <div class="container-fluid">
        <div class="row">
            <div class="row"><h5>Professional Training</h5></div>
            <div class="row">
                <h6>Level One (Networking)</h6>
                <label for="professionalTrainingContacts1">Contact</label>
            </div>
        </div>
        <div class="row">
            <h5>Favoured Form</h5>
        </div>
    </div>
</div>